%h1 Reserva Diárias Cadastradas

%br
%br

%table.table.table-bordered.table-striped.table-condensed
  %tr
    %th Periodo inicial
    %th Periodo final
    %th Valor unitario
    %th Vagas disponiveis
    %th Hotel
    %th
    %th
    %th

  - @reserva_diarias.each do |reserva_diaria|
    %tr
      %td= reserva_diaria.periodo_inicial
      %td= reserva_diaria.periodo_final
      %td= reserva_diaria.valor_unitario
      %td= reserva_diaria.vagas_disponiveis
      %td= reserva_diaria.hotel.nome
      %td= link_to 'Detalhar', reserva_diaria, class: 'btn btn-theme'
      %td= link_to 'Editar', edit_reserva_diaria_path(reserva_diaria), class: 'btn btn-theme'
      %td= link_to 'Excluir', reserva_diaria, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-theme'

%br

= link_to 'Cadastar Reserva de diaria', new_reserva_diaria_path, class:'btn btn-theme02 btn-lg'
