%h1 Dados da Diária
%p#notice= notice

%p
  %b Periodo inicial:
  = @reserva_diaria.periodo_inicial
%p
  %b Periodo final:
  = @reserva_diaria.periodo_final
%p
  %b Valor unitario:
  = @reserva_diaria.valor_unitario
%p
  %b Vagas disponiveis:
  = @reserva_diaria.vagas_disponiveis
%p
  %b Hotel:
  = @reserva_diaria.hotel.nome

= link_to 'Editar', edit_reserva_diaria_path(@reserva_diaria), class:'btn btn-theme02'
\|
= link_to 'Voltar', reserva_diarias_path, class:'btn btn-theme03'
