= simple_form_for(@hotel) do |f|
  = f.error_notification

  .form-inputs
    = f.input :nome
    = f.input :cnpj
    = f.input :email

  .form-actions
<<<<<<< HEAD
    = f.button :submit, 'Salvar'


=======
    = f.button :submit
>>>>>>> 61d0dae675cc3e5bc45753a03ac3ff1e296511a9
