= simple_form_for(@hotel) do |f|
  = f.error_notification

  .form-inputs
    = f.input :nome, class: 'form-control round-form'
    = f.input :cnpj, class: 'form-control round-form'
    = f.input :email, class: 'form-control round-form'

  .form-actions
    = f.button :submit, 'Salvar', class: 'btn btn-round btn-danger'

