%h1 Dados do Hotel
%p#notice= notice

%p
  %b Nome:
  = @hotel.nome
%p
  %b Cnpj:
  = @hotel.cnpj
%p
  %b Email:
  = @hotel.email

= link_to 'Editar', edit_hotel_path(@hotel), class:'btn btn-theme02'
\|
= link_to 'Voltar', hoteis_path, class:'btn btn-theme03'
