%h1 Empresa Aéreas Cadastradas

%br
%br

%table.table.table-bordered.table-striped.table-condensed
  %tr
    %th Nome
    %th Cnpj
    %th Email
    %th Opcoes


  - @empresa_aereas.each do |empresa_aerea|
    %tr
      %td= empresa_aerea.nome
      %td= empresa_aerea.cnpj
      %td= empresa_aerea.email

      %td= link_to 'Detalhar', empresa_aerea, class: 'btn btn-theme'
      %td= link_to 'Alterar', edit_empresa_aerea_path(empresa_aerea), class: 'btn btn-theme'
      %td= link_to 'Excluir', empresa_aerea, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-theme'

%br
%br
%br
%br

= link_to 'Cadastrar Empresa Aérea', new_empresa_aerea_path, class:'btn btn-theme02 btn-lg' 
%br
%br
%br
%br
