%h1 Dados da Empresa

%p#notice= notice

%p
  %b Nome:
  = @empresa_aerea.nome
%p
  %b Cnpj:
  = @empresa_aerea.cnpj
%p
  %b Email:
  = @empresa_aerea.email

  %br
  %br
  %br

= link_to 'Editar', edit_empresa_aerea_path(@empresa_aerea), class:'btn btn-theme02'
\|
= link_to 'Voltar', empresa_aereas_path, class:'btn btn-theme03'

