= simple_form_for(@reservar_passagem) do |f|
  = f.error_notification

  .form-inputs
    = f.input :data_partida, class: 'form-control round-form'
    = f.input :hora_partida, class: 'form-control round-form'
    = f.input :minuto_partida, class: 'form-control round-form'
    = f.input :origem, class: 'form-control round-form'
    = f.input :destino, class: 'form-control round-form'
    = f.input :valor_unitario, class: 'form-control round-form'
    = f.input :vagas_disponiveis, class: 'form-control round-form'
    = f.association :empresa_aerea,  label_method: :nome, class: 'form-control round-form'

  .form-actions
    = f.button :submit, 'Salvar', class: 'btn btn-round btn-danger'
