%h1 Passagens Cadastradas


%br
%br

%table.table.table-bordered.table-striped.table-condensed
  %tr
    %th Data partida
    %th Hora partida
    %th Minuto partida
    %th Origem
    %th Destino
    %th Valor unitario
    %th Vagas disponiveis
    %th Empresa aerea
    %th Opções
    %th
    %th

  - @reservar_passagens.each do |reservar_passagem|
    %tr
      %td= reservar_passagem.data_partida
      %td= reservar_passagem.hora_partida
      %td= reservar_passagem.minuto_partida
      %td= reservar_passagem.origem
      %td= reservar_passagem.destino
      %td= reservar_passagem.valor_unitario
      %td= reservar_passagem.vagas_disponiveis
      %td= reservar_passagem.empresa_aerea.nome
      %td= link_to 'Detalhar', reservar_passagem, class: 'btn btn-theme'
      %td= link_to 'Editar', edit_reservar_passagem_path(reservar_passagem), class: 'btn btn-theme'
      %td= link_to 'Excluir', reservar_passagem, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-theme'

%br

= link_to 'Cadastrar Reservar de passagem', new_reservar_passagem_path, class:'btn btn-theme02 btn-lg' 
%br
%br
%br
%br
