%p#notice= notice

%p
  %b Data partida:
  = @reservar_passagem.data_partida
%p
  %b Hora partida:
  = @reservar_passagem.hora_partida
%p
  %b Minuto partida:
  = @reservar_passagem.minuto_partida
%p
  %b Origem:
  = @reservar_passagem.origem
%p
  %b Destino:
  = @reservar_passagem.destino
%p
  %b Valor unitario:
  = @reservar_passagem.valor_unitario
%p
  %b Vagas disponiveis:
  = @reservar_passagem.vagas_disponiveis
%p
  %b Empresa aerea:
  = @reservar_passagem.empresa_aerea.nome

= link_to 'Editar', edit_reservar_passagem_path(@reservar_passagem), class:'btn btn-theme02'
\|
= link_to 'Voltar', reservar_passagens_path, class:'btn btn-theme03'
