%h1 Qualificações realizadas para Agência
%br
%br

%table.table.table-bordered.table-striped.table-condensed

  %tr
    %th Concretizado
    %th Justificativa
    %th Nivel
    %th Comentario
    %th Empresa aerea
    %th Usuario
    %th Opções
    %th
    %th

  - @qualificacao_passagens.each do |qualificacao_passagem|
    %tr
      %td= qualificacao_passagem.concretizado
      %td= qualificacao_passagem.justificativa
      %td= qualificacao_passagem.nivel
      %td= qualificacao_passagem.comentario
      %td= qualificacao_passagem.empresa_aerea.nome
      %td= qualificacao_passagem.usuario.nome
      %td= link_to 'Detalhar', qualificacao_passagem, class: 'btn btn-theme'
      %td= link_to 'Editar', edit_qualificacao_passagem_path(qualificacao_passagem), class: 'btn btn-theme'
      %td= link_to 'Excluir', qualificacao_passagem, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-theme'

%br

= link_to 'Qualificar Agência', new_qualificacao_passagem_path, class:'btn btn-theme02 btn-lg' 
%br
%br
%br
%br
