%h1 Usuário Cadastrados

%br
%br

%table.table.table-bordered.table-striped.table-condensed

  %tr
    %th Nome
    %th Email
   
    %th Opções
    %th
    %th

  - @usuarios.each do |usuario|
    %tr
      %td= usuario.nome
      %td= usuario.email
      
      %td= link_to 'Detalhar', usuario, class: 'btn btn-theme'
      %td= link_to 'Alterar', edit_usuario_path(usuario),  class: 'btn btn-theme'
      %td= link_to 'Excluir', usuario, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-theme'

%br
%br
%br
%br
%br

= link_to 'Cadastrar Usuario', new_usuario_path, class:'btn btn-theme02 btn-lg'
%br
%br
%br
%br