%p#notice= notice

%p
  %b Nome:
  = @usuario.nome
%p
  %b Email:
  = @usuario.email
%p
  %b Senha:
  = @usuario.senha

= link_to 'Edit', edit_usuario_path(@usuario)
\|
= link_to 'Back', usuarios_path
