%h1 Dados do Usuario
%p#notice= notice

%p
  %b Nome:
  = @usuario.nome
%p
  %b Email:
  = @usuario.email
%p
  %b Senha:
  = @usuario.senha
  %br
  %br
  %br

= link_to 'Editar', edit_usuario_path(@usuario), class:'btn btn-theme02'
\|
= link_to 'Voltar', usuarios_path, class:'btn btn-theme03'
