%h1 Qualificações realizadas para os Hoteis

%br
%br

%table.table.table-bordered.table-striped.table-condensed

  %tr
    %th Concretizado
    %th Justificativa
    %th Nivel
    %th Comentario
    %th Usuario
    %th Hotel
    %th Opções
    %th
    %th

  - @qualificacao_hoteis.each do |qualificacao_hotel|
    %tr
      %td= qualificacao_hotel.concretizado
      %td= qualificacao_hotel.justificativa
      %td= qualificacao_hotel.nivel
      %td= qualificacao_hotel.comentario
      %td= qualificacao_hotel.usuario.nome
      %td= qualificacao_hotel.hotel.nome
      %td= link_to 'Detalhar', qualificacao_hotel, class: 'btn btn-theme'
      %td= link_to 'Editar', edit_qualificacao_hotel_path(qualificacao_hotel), class: 'btn btn-theme'
      %td= link_to 'Excluir', qualificacao_hotel, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-theme'

%br

= link_to 'Qualificar Hotel', new_qualificacao_hotel_path, class:'btn btn-theme02 btn-lg' 
%br
%br
%br
%br

