%h1 Dados da Qualificação dada ao Hotel

%p#notice= notice

%p
  %b Concretizado:
  = @qualificacao_hotel.concretizado
%p
  %b Justificativa:
  = @qualificacao_hotel.justificativa
%p
  %b Nivel:
  = @qualificacao_hotel.nivel
%p
  %b Comentario:
  = @qualificacao_hotel.comentario
%p
  %b Usuario:
  = @qualificacao_hotel.usuario.nome
%p
  %b Hotel:
  = @qualificacao_hotel.hotel.nome
  %br
  %br
  %br

= link_to 'Editar', edit_qualificacao_hotel_path(@qualificacao_hotel), class:'btn btn-theme02'
\|
= link_to 'Voltar', qualificacao_hoteis_path, class:'btn btn-theme03'
