= simple_form_for(@pacote) do |f|
  = f.error_notification

  .form-inputs
    = f.input :destino, class: 'form-control round-form'
    = f.input :quantidadepessoas, class: 'form-control round-form'
    = f.input :total, class: 'form-control round-form'
    = f.association :usuario, label_method: :nome, class: 'form-control round-form'
    = f.association :reservar_passagem, label_method: :destino, class: 'form-control round-form'
    = f.association :reserva_diaria, label_method: :periodo_inicial, class: 'form-control round-form'


  .form-actions
    = f.button :submit, 'Salvar', class: 'btn btn-round btn-danger'
