%h1 Pacotes Adquiridos
%br
%br

%table.table.table-bordered.table-striped.table-condensed

  %tr
    %th Destino
    %th Quantidadepessoas
    %th Total
    %th Usuario
    %th Reservar passagem
    %th Reserva diaria
    %th
    %th
    %th

  - @pacotes.each do |pacote|
    %tr
      %td= pacote.destino
      %td= pacote.quantidadepessoas
      %td= pacote.total
      %td= pacote.usuario.nome
      %td= pacote.reservar_passagem.destino
      %td= pacote.reserva_diaria.periodo_inicial
      %td= link_to 'Detalhar', pacote, class: 'btn btn-theme'
      %td= link_to 'Editar', edit_pacote_path(pacote), class: 'btn btn-theme'
      %td= link_to 'Excluir', pacote, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-theme'

%br

= link_to 'Adquirir Pacote', new_pacote_path, class:'btn btn-theme02 btn-lg' 
