%h1 Dados do Pacote
%p#notice= notice

%p
  %b Destino:
  = @pacote.destino
%p
  %b Quantidade:
  = @pacote.quantidadepessoas
%p
  %b Total:
  = @pacote.total
%p
  %b Usuario:
  = @pacote.usuario.nome
%p
  %b Reservar passagem:
  = @pacote.reservar_passagem.destino
%p
  %b Reserva diaria:
  = @pacote.reserva_diaria.periodo_inicial
%br
%br
%br

= link_to 'Editar', edit_pacote_path(@pacote), class:'btn btn-theme02'
\|
= link_to 'Voltar', pacotes_path, class:'btn btn-theme03'
